.div{
  margin-top: 10px;
  float: right;
}
.img{
  float: left;
  margin-left: 50px;
}

p{
  text-align: left;
  margin-left:50px;
  font-style: oblique;
  font: optional;
}
h1{
  text-align: center;
}
h2{
  text-align:left;
  margin-right: 600px;
  margin-left: 460px;
  padding-top: 20px;
}
.para{
  float: right;
  margin-right: 190px;
  padding-top: 25px;
}
.image{
  float: right;
  margin-right: 150px;
  margin-left: 10px;
  margin-top: 20px;
  width: max-content;
}
.chefs{
  text-align: left;
  /* margin-right: 360px; */
  margin-top: 200px;
  padding-bottom: 20px;


}
#our{
  padding-top: 20px;
}
.delivery{
  margin-left: 50px;
  margin-top: 40px;
  float: left;
  
}
.div{
  margin-right: 600px;
  margin-top: 120px;

}
.nav{
  background-color: rgb(30, 29, 29);
  height: 60px;
  font-size: larger;
}
.PizzaURL{
  margin-left: 20px;
  float: left;
  margin-top: 15px;
  padding-top: 1px;
  color: bisque;
  text-decoration: none;

}
.pizza{
  color: bisque;
  margin-top: 10px;
  padding-top:5px;
  float: right;
  text-decoration: none;
}
#button{
  padding-top: 12px;
  padding-left: 690px;
}
.copy{
  color: rgb(224, 190, 15);
  float: center;
  margin-left: 400px;
  margin-top: 20px;
  margin-bottom: 60px;
  padding-top: 1px;
}
#color{
  color: rgb(5, 5, 73);
}
#btn{
  color: darkgoldenrod;
}
.grid{

  display: grid;

  grid-template-columns: 1fr 1fr;

  column-gap: 20px;

  row-gap: 20px;

  margin-right: 10px;
  margin-right: 5px;

}
.card{

  margin-top: 30px;

  margin-bottom: 20px;

  width: 130px;

  height: 100px;

  float: right;

}
.details{

  float: left;

  padding-top: 20px;

  padding-left: 10px;

  width: 10px;



}

.list{

  text-align:start;

  padding-top: 20px;

  padding-right: 140px;

  padding-left: 80px;

  font-size: small;

}

.b{

  border: solid;

  border-color: rgb(178, 198, 198);

}
.copyright{
  margin-top: 300px;
  padding-left: 400px;
  color: rgb(234, 234, 15);
}
